<% include partials/header.ejs %>
      
      <% console.dir(item) %>
            <div class="backimg" id="moviebox">
               
                  <div class="row" style="border:4px solid black">
                        <div class="col-md-4 frontimg">
                              <img src="https://image.tmdb.org/t/p/w500<%= item.poster_path %>" alt="">
                        </div>
                        <!-- <div class="col-md-8 backimg">
                              <div id="mydiv"> <img src="https://image.tmdb.org/t/p/w500<%= item.backdrop_path %>" style="position: relative;">
                              </div>
                        </div> -->

                        <div class="divtext">
                              <h1>
                                    <%= item.title %>
                              </h1>
                              <h2>Release Date :
                                    <%= item.release_date %>
                              </h2>
                              <h3>Overview</h3>
                              <p class="overview">
                                    <%= item.overview %>
                              </p>
                              <% console.log("is is "+item.id) %>
                              <form action="/addtolist" method="POST"> 
                               <input name="movie" value="<%= item.id %>" style="display: none">
                               <button>Add to watchlist</button>
                              </form>
                             
                        </div>
                  </div>
            </div>
<div>
                  <div class="a">
                        <div class="p">
                              <div class="row" style="display: flex; flex-wrap: wrap">
                                    <% casts.cast.forEach(function(cast) { %>
                                          <% if(cast.profile_path==null){ %>
                                                <% } else{ %>
                                                      <div class="col-sm-6 col-md-4 col-lg-2">
                                                            <div class="thumbnail">
                                                                  <div class="caption cast">
                                                                        <img src="https://image.tmdb.org/t/p/w500<%= cast.profile_path %>" alt="<%= cast.name %>">
                                                                        <h3>
                                                                              <%= cast.name %>
                                                                        </h3>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                      <% } %>
                                                            <%  })  %>
                              </div>
                        </div>
                  </div>
            </div>

            <div class="pp">
                  <div class="trailer-box">


                        <iframe width="100%" height="400" src="https://www.youtube.com/embed/<%= trailer.videos.results[0].key %>?rel=0&amp;start=5"
                              frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



                  </div>

            </div>

            <div class="review-box">
                        <h2 class="rev">Reviews</h2>
                  <% reviews.results.forEach(function(review) { %>

                        
                        <div class="review col-sm-6 col-md-8 col-lg-10">
                                    
                              <div class="panel panel-primary">
                                    <div class="panel-heading">
                                          <h3 class="panel-title rev">
                                                <%= review.author %>
                                          </h3>
                                    </div>
                                    <div class="panel-body">
                                        <p class="rev"> <%= review.content %></p> 
                                    </div>
                              </div>
                        </div>

                        <% }) %>

            </div>
     
            <style>
                  .divtext {
                        margin-left: 550px;
                  }

                  .overview {
                        width: 800px;
                  }

                  .review
                  {
                        margin-left: 8%
                  }

            </style>

            <% include partials/footer.ejs %>