<% include partials/header.ejs %>

    <div class="swiper-container">
        <div class="swiper-wrapper">
            <% movies.results.forEach(function(movie){ %>

                <% if(movie.poster_path==null){ %>

                    <% } else{ %>

                        <div class="swiper-slide">
                            <div>
                             
                                <% if(movie.poster_path==null){ %>
                                    <% console.log("null") %>
                                    <img src="https://image.tmdb.org/t/p/w500<%= movie.profile_path %>" alt="">
                                    <% } else{ %>
                                        <img src="https://image.tmdb.org/t/p/w500<%= movie.poster_path %>" alt="">
                                        <% } %>
                            </div>
                            <div class="details">
                                <h3>
                                    <% if(type=='all'){ %>
                                        <% console.log("all clicked") %>
                                        <% if(movie.title==null){ %>
                                            <%= movie.name %>
                                                <% } else{ %>
                                                    <%= movie.title %>
                                                        <% } %>
                                                            <% } %>

                                                                <% if(type=='movie'){ %>
                                                                    <%= movie.title %>
                                                                        <% } %>

                                                                            <% if(type=='tv'){ %>
                                                                                <%= movie.name %>
                                                                                    <% } %>

                                                                                        <% if(type=='people'){ %>
                                                                                            <% console.log("pep found") %>
                                                                                            <%= movie.name %>
                                                                                                <% } %>


                                                                                                    <br>
                                                                                                    <span>
                                                                                                        <form action="/getmov" method="POST">
                                                                                                            <input type="text" name="movnm" value="<%= movie.id %>" style="display: none">
                                                                                                            <p class="infobtn">
                                                                                                                <button class="btn btn-primary">More Info!</button>
                                                                                                            </p>
                                                                                                        </form>
                                                                                                    </span>
                                </h3>
                            </div>
                        </div>

                        <% } %>
                            <%  })  %>

        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
    </div>

    <style>
        body {
            background: #fff;
            font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #000;
            margin: 0;
            padding: 0;
            /* background-color: black; */
        }

        .swiper-container {
            width: 100%;
            padding-top: 50px;
            padding-bottom: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 300px;
            height: 500px;
        }

        img {
            max-width: 100%;
        }

        .details {
            background-color: white;
            text-align: center;
            font-size: 15px;
            font-weight: bolder;
            font-family: 'Times New Roman', Times, serif;
            overflow: hidden;
            padding: 0px;
        }
    </style>

    <script>
        var swiper = new Swiper('.swiper-container', {
            effect: 'coverflow',
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 'auto',
            loop: true,
            mousewheel: true,
            autoplay: {
                delay: 2000,
                disableOnInteraction: false,
            },
            coverflowEffect: {
                rotate: 60,     //rotation
                stretch: 0,
                depth: 500,     //Depth
                modifier: 1,
                slideShadows: true,
            },
            pagination: {
                el: '.swiper-pagination',
            },
            navigation: {
                nextEl: '.swiper-button-next',
                prevEl: '.swiper-button-prev',
            },
        });
    </script>

    <% include partials/footer.ejs %>